<div class="nav">
  <div class="logo">
    <%= image_tag("puurse_logo.png", alt: "Image Description") %>
  </div>

  <div class="main">
    Main

    <%= link_to "Dashboard", class: "nav-button" do %>
      <box-icon name='home' type='solid' color='#404040' ></box-icon>
      <p>Dashboard</p>
    <% end %>

    <%= link_to "Transactions", class: "nav-button" do %>
      <box-icon name='transfer-alt' type='solid' color='#404040'></box-icon>
      <p>Transactions</p>
    <% end %>

    <%= link_to "Cards", class: "nav-button" do %>
      <box-icon name='credit-card' type='solid' color='#404040' ></box-icon>
      <p>Cards</p>
    <% end %>

    <%= link_to "Analytics", class: "nav-button" do %>
      <box-icon name='pie-chart-alt-2' type='solid' color='#404040'></box-icon>
      <p>Analytics</p>
    <% end %>


  </div>

  <div class="other">
    Other
    <%= link_to "Settings", class: "nav-button" do %>
      <box-icon type='solid' name='help-circle' color='#404040'></box-icon>
      <p>Get Help</p>
    <% end %>


    <%= link_to "Settings", class: "nav-button" do %>
      <box-icon name='cog' type='solid' color='#404040'></box-icon>
      <p>Settings</p>
    <% end %>



  </div>


  <div class="profile">
    John
  </div>






</div>
