<div class="nav">
  <div class="logo">
    <%= link_to root_path, class: "home-link" do %>
      <%= image_tag("puurse_logo.png", alt: "Image Description") %>
    <% end %>
  </div>

  <div class="main">
    Main

    <%= link_to root_path, class: "nav-button" do %>
      <box-icon name='home' type='solid' color='#404040' ></box-icon>
      <p>Home</p>
    <% end %>

    <%= link_to transactions_path, class: "nav-button" do %>
      <box-icon name='transfer-alt' type='solid' color='#404040'></box-icon>
      <p>Transactions</p>
    <% end %>

    <%= link_to "Cards", class: "nav-button" do %>
      <box-icon name='credit-card' type='solid' color='#404040' ></box-icon>
      <p>Cards</p>
    <% end %>

    <%= link_to analytics_path , class: "nav-button" do %>
      <box-icon name='pie-chart-alt-2' type='solid' color='#404040'></box-icon>
      <p>Analytics</p>
    <% end %>


  </div>

  <div class="other">
    Other
    <%= link_to "Settings", class: "nav-button" do %>
      <box-icon type='solid' name='help-circle' color='#404040'></box-icon>
      <p>Get Help</p>
    <% end %>


    <%= link_to "Settings", class: "nav-button" do %>
      <box-icon name='cog' type='solid' color='#404040'></box-icon>
      <p>Settings</p>
    <% end %>
    <br>
    <hr>
    <div class="profile">
      <%if user_signed_in?%>
        <%= link_to edit_user_registration_path do %>
          <span><%=current_user.first_name %></span>
          <%if current_user.photo.key %>
            <%= cl_image_tag current_user.profile_photo.key, height: 80, width: 80, crop: :fill, style: 'border-radius: 50%; margin-right:1rem; padding: 0;' %>
          <% else%>
            <%= image_tag "profile-photo.jpg" %>
          <% end %>
        <%end%>
      <%end%>
    </div>
  </div>
</div>
