<h1>Analytics</h1>
<% if user_signed_in? %>
  <%= form_with url: analytics_path, method: :get, class: "d-flex col-1 align-items-center" do %>
    <%= label_tag "period", "Select Period(months)" %>
    <%= select_tag :period, options_for_select(
      [
        [1],
        [3],
        [6],
        [9],
        [12]
      ]
    ), class: "form-control" %>
    <%= submit_tag "Utilities", name: "", class: "btn btn-primary" %>
  <% end %>
  <br>
  <h1>Last <%= @days %> days</h1>
  <%= area_chart Transaction.group_by_day(:date, range: @range).sum(:amount), height: "500px" %>
  <h1>Monthly Spend by category </h1>
  <%= pie_chart Category.group(:name).sum(:monthly_spend), height: "500px", library: { title: { text: "Monthly Spend by Category", x: -20 } } %>
<% end %>
