<h1>Analytics</h1>
<div class="standard-structure">
<div class="analytics-page">
  <% if user_signed_in? %>
    <div class="analytics-form">
      <%= form_with url: analytics_path, method: :get, class: "a-form" do %>
        <div class="a-input">
          <%= select_tag :period, options_for_select([["Select Period ▽"],["1 month", 1],["3 months", 3],["6 months", 6],["9 months", 9],["1 year", 12]]), class: "form-control form-select-period", onchange: "this.form.submit()" %>
          <%# <%= submit_tag "Apply", name: "", class: "a-submit" %>
        </div>
      <% end %>
      <h2>Total Spend: <strong><%=number_to_currency(@total,unit:"£")%> </strong></h2>
    </div>
    <div class="analytics-container">

      <div class="area-chart">
        <h3>Your Spending Timeline </h3>
        <%= area_chart Transaction.group_by_day(:date, range: @range).sum(:amount), height: "550px", class:"line-chart", colors: ["#404040", "#FF8A5C"], xmax: "2024-05-15", max: 250, xtitle: "Date" %>
            <div class="pie-chart">
        <h4>Monthly Spend by Category </h4>
        <%= pie_chart Category.group(:name).sum(:monthly_spend), height: "500px", width: "600px",  legend: "right", colors: ["#FF8A5C", "#404040", "#949494", "#F6F4F4", "#49BEB7"] %>
      </div>
        <%= render 'transactions/transactions' %>
      </div>
      </div>
    </div>
  <% end %>
</div>
</div>
