<h1>Analytics</h1>
<% if user_signed_in? %>
  <div class="analytics-form">
    <%= form_with url: analytics_path, method: :get, class: "a-form col-1 " do %>
      <%= label_tag "period", "Period(months)" %>
      <div class="a-input">
        <%= select_tag :period, options_for_select([[1], [3],[6],[9],[12]]), class: "form-control" %>
        <%= submit_tag "Submit", name: "", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
  <div class="analytics-container">
    <div class="area-chart">
      <h3>Last <%= @days %> days | total £<%=@total%> </h3>
      <%= area_chart Transaction.group_by_day(:date, range: @range).sum(:amount), height: "500px" %>
      <% @transactions.each do |transaction| %>
        <div class="analyics-tcard">
          <span><%= transaction.date.strftime('%a, %d %b %Y') %></span>
          <span>£<%= transaction.amount %></span>
          <span><%= transaction.category.name %></span>
          <span><%= transaction.retailer %></span>
        </div>
      <% end %>
    </div>

    <div class="pie-chart">
      <h3>Monthly Spend by category </h3>
      <%= pie_chart Category.group(:name).sum(:monthly_spend), height: "500px", library: { title: { text: "Monthly Spend by Category", x: -20 } } %>
    </div>
  </div>
<% end %>
