<h1>Analytics</h1>
<div class="standard-structure">
<div class="analytics-page">
  <% if user_signed_in? %>
    <div class="analytics-form">
      <%= form_with url: analytics_path, method: :get, class: "a-form" do %>
        <%= label_tag "period", "Select Period(months)" %>
        <div class="a-input">
          <%= select_tag :period, options_for_select([[1], [3],[6],[9],[12]]), class: "form-control form-select-period " %>
          <%= submit_tag "submit", name: "", class: "a-submit" %>
        </div>
      <% end %>
      <h3>Last <%= @days %> days: <strong><%=number_to_currency(@total,unit:"£")%> </strong></h3>
    </div>
    <div class="analytics-container">

      <div class="area-chart">

        <%= area_chart Transaction.group_by_day(:date, range: @range).sum(:amount), height: "400px", class:"line-chart" %>
            <div class="pie-chart">
        <h3>Monthly Spend by category </h3>
        <%= pie_chart Category.group(:name).sum(:monthly_spend), height: "500px", library: { title: { text: "Monthly Spend by Category", x: -20 } } %>
      </div>
        <%= render 'transactions/transactions' %>
      </div>
      </div>
    </div>
  <% end %>
</div>
</div>
