<h1> Transactions </h1>
<div class="page-content">

  <div class="content-box" data-controller="categories" >
    <div class="bank-card">
      <%= link_to transactions_url do%>
        <%# <%= image_tag("blank_bank_card.png", alt: "Image Description") %>
<div class="flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front">
      <%= image_tag("blank_bank_card.png", alt: "Image Description") %>
    </div>
    <div class="flip-card-back">
      <%= image_tag("name_bank_card.png", alt: "Image Description") %>
    </div>
  </div>
</div>

    </div>
    <%if @page_category%>
      <%else%>
        <h3>All Transactions</h3>
      <%end %>

    <div class="category-icons">
    <% if @page_category %>
      <%if params[:category] == 'restaurant'%>
        <box-icon color='#ff8a5c' name='restaurant' animation='rotate' ></box-icon>
        <h4 class="category-title"><%=@page_category%></h4>
      <% elsif params[:category] == 'supermarket' %>
        <box-icon color='#ff8a5c' animation="rotate" name='cart-alt'type="solid"></box-icon>
        <h4 class="category-title"><%=@page_category%></h4>


      <% elsif params[:category] == 'subscriptions' %>
        <box-icon color='#ff8a5c' animation="tada" name='dice-5'type="solid"></box-icon>
        <h4 class="category-title"><%=@page_category%></h4>


      <% elsif params[:category] == 'utilities' %>
        <box-icon color='#ff8a5c' animation="tada" name='wrench'type="solid"></box-icon>
        <h4 class="category-title"><%=@page_category%></h4>

      <% elsif params[:category] == 'home' %>
        <box-icon color='#ff8a5c' animation="tada" name='home-heart'type="solid"></box-icon>
        <h4 class="category-title"><%=@page_category%></h4>

      <% end%>
    <% else %>

    <% end %>
    </div>


    <%end%>


    <div class="t-categories">
      <%= form_with url: transactions_url, method: :get, class: "a-form col-1 ", html: {class: 'search-form'}  do %>
      <span>category</span>
      <div class="input-box">
        <% categories = [['utilities'], ['supermarket'], ['restaurant'], ['home'], ['subscriptions']] %>
        <% categories.each do |category| %>
          <%= radio_button_tag 'category', category[0], false, class: 'category-input' %>
          <%= label_tag "category_#{category[0]}", category[0], class: 'category-label' %><br>
        <% end %>
      </div>
      <div class="select-container">
        <div class="select-box">
          <span>Time Period</span>
          <%= select_tag 'Time Period', options_for_select([[],['30 Days'], ['60 Days'], ['90 Days'], ['120 Days']]), class: 'category-select' %>
        </div>
        <div class="select-box">

          <span>Account</span>
          <%= select_tag 'Account', options_for_select([[],['Natwest'], ['Barclays'], ['Revolut'], ['HSBC']]), class: 'category-select' %>

         <div>
          <%= submit_tag 'submit', class:'form-submit'%>
        </div>

        </div>
      </div>
      <% end %>
    </div>
    <div class="budget-info">


      <div class="total-spend">
        <%if @page_category%>
          <p>Total spend <span class="amount">£<%=(@overall_spend * 100).floor/100.0%></span></p>
        <%else%>
          <p>Total spend: <span class="amount"><%=  number_to_currency((@overall_spend * 100).floor/100.0,unit:"£") %></span></p>
        <% end%>
      </div>
      <i class="transactions-size"><%=@transactions.size%> transactions</i>

      <div class="limit">
        <%if !@page_category%>
          <span class="amount"><%=  number_to_currency((@overall_spend * 100).floor/100.0,unit:"£") %></span>
        <%end%>
        <% if @page_category%>
          <% if @budget%>
            <span><%=  number_to_currency((@overall_spend * 100).floor/100.0,unit:"£") %>/£<%=@budget_limit * 12%></span>
            <%= link_to 'Edit limit', edit_category_budget_path(@category, @budget), class: 'limit-btn' %>
          <%else%>
            <span class="amount"><%=  number_to_currency((@overall_spend * 100).floor/100.0,unit:"£") %></span>
            <%= link_to '+ Add limit', new_category_budget_path(@category), class: 'limit-btn' %>
          <%end%>
        <% end %>
      </div>
      <i style="text-align:center; margin-right: 1rem;"><%=@transactions.size%> transactions</i>
    </div>
    <%= render 'transactions' %>
  </div>
</div>
