<h1>Transactions</h1>
<% if @notice%>
  <p>You are over by <%= @notice[:amount_over]%></p>
<% end %>
<hr>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-8">

      <div class="row justify-content-center">
        <div class="col-sm-8 my-3">
          <%= form_with url: transactions_path, method: :get, class: "d-flex" do %>
            <%= hidden_field_tag :category, "utilities" %>
            <div class="form-group">
            <%= label_tag "period", "Select Period" %>
            <%= select_tag :period, options_for_select(
              [ [],
                [30],
                [60],
                [90],
                [180],
                [360]
              ]
            ), class: "form-control" %>
            <%= label_tag "bank", "Select Bank" %>
            <%= select_tag :bank, options_for_select(
              [ [],
                ['natwest'],
                ['barclays'],
                ['hsbc'],
                ['revolut'],
              ]
            ), class: "form-control" %>
          </div>
            <%= submit_tag "Utilities", name: "", class: "btn btn-primary" %>
          <% end %>
        </div>
      </div>
      <h2>trasaction count | <%= @transactions.size %></h2>
      <h2>total | <%= (@total * 100).floor / 100.0 %></h2>
      <hr>
      <div id="transaction">
        <% if @transactions.any? %>
        <%# iterate through this array and get its values as shown below %>
          <% @transactions.each do |transaction| %>
            <h4><%=transaction[:category]%> | <%= transaction[:amount] %></h4>
            <p><%= transaction[:date] %></p>
            <p><%= transaction[:retailer] %></p>
            <p><%= transaction[:bank] %></p>
            <p>budget: <%= transaction[:budget] %></p>
          <% end %>
        <% else %>
          <em>Sorry, no transactions found.</em>
        <% end %>
      </div>
    </div>
  </div>
</div>
